<div class="container mt-5">
	<footer class="bg-white border-top p-3 text-muted small">
		<div class="row align-items-center justify-content-between">
			<div>
				<span class="navbar-brand mr-2"><strong>Blazing Blog</strong></span> 
				Copyright &copy; @DateTime.Today.Year. All rights reserved.
			</div>
			<div>
				Made with <strong>Blazor + .Net 8</strong> <a target="_blank" class="text-secondary font-weight-bold" href="https://www.datatex.gr/">by Nikolaos Psaltakis.</a>
			</div>
		</div>
	</footer>
</div>

@code {

}
